:root {
  /* standard colors */
  --youtube: #c4302b;

  /* default colors */
  --accent-color: var(--youtube);
}

/*************
** UNIVERSAL
*************/

body {
  background-color: rgb(245,245,245);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button[disabled] {
  color: rgba(16,16,16, 0.3);
  background-color: rgba(239,239,239, 0.3);
  border: 1px solid rgba(118,118,118,0.3);
}

button:focus {
  outline: none;
}


/********
** PAGE
********/

.button {
  color: white;
  background-color: var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.button-negative {
  color: black;
  background-color: rgb(200,200,200);
}

.checkbox {
  pointer-events: none; /*turn off pointer events so we don't check the box and the playlist item at the time and "double check"*/
}

.checkbox-input {
  display: none;
}

.checkbox-icon-container {
  background-color: white;
  padding: 0.125rem;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}

.checkbox-icon {
  font-size: 0.5rem;
  visibility: hidden;
}

.checkbox-input:checked + .checkbox-icon-container {
  color: white;
  background-color: var(--accent-color);
  border: none;
}

.checkbox-input:checked + .checkbox-icon-container .checkbox-icon {
  visibility: visible;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  padding-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 0 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--accent-color);
  background-color: white;
  padding: 2rem 0;
}

.youtube-icon {
  display: block;
  font-size: 2rem;
}

.title {
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: lighter;
}

.username-select {
  margin-bottom: 1rem;
}

.playlists-container {
  background-color: rgb(235,235,235);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  overflow: hidden;
  transition: background-color 0.25s;
}

.playlist-container:hover {
  background-color: rgb(245,245,245);
}

.playlist-container:hover .playlist-title {
    color: var(--accent-color);
}

.playlist-section {
  display: flex;
  align-items: center;
}

.playlist-section-main {
  cursor: pointer;
}

.playlist-image {
  display: block;
  max-width: 40%;
}

.playlist-info {
  margin-left: 0.5rem;
}

.playlist-title {
  font-weight: lighter;
  transition: color 0.25s;
}

.playlist-privacy-icon {
  color: rgb(175,175,175);
  font-size: 0.625rem;
  margin-right: 0.25rem;
}

.playlist-video-count {
  color: gray;
  font-size: 0.75rem;
}

.playlist-description {
  font-size: 0.75rem;
}

.playlist-loading-spinner {
  display: none;
  color: lightgray;
  margin-left: auto;
  margin-right: 1rem;
  animation: spin 1s linear infinite normal both;
}

.playlist-loading-spinner.show {
  display: inline-block;
}

.playlist-items-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(235,235,235);
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 1rem;
  max-height: 30rem;
  overflow-y: auto;
}

.playlist-items-container.shrink {
  height: 0;
  padding: 0;
}

.playlist-item-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  min-height: 6rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow-y: hidden;
  transition: color 0.25s, background-color 0.25s;
}

.playlist-item-container:hover {
  background-color: rgb(245,245,245);
}

.playlist-item-container:hover .playlist-item-title {
    color: var(--accent-color);
}

.playlist-item-image-container {
  position: relative;
  height: 90px;
}

.playlist-item-image {
  display: block;
}

.playlist-item-duration {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  background-color: black;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.65rem;
  font-weight: bold;
}

.playlist-item-info {
  margin-left: 0.5rem;
}

.playlist-item-title {
  display: inline;
  font-weight: lighter;
  transition: color 0.25s;
}

.playlist-item-channel-title {
  font-size:  0.75rem;
  font-weight: lighter;
  margin: 0.25rem 0;
  color: gray
}

.playlist-item-definition-icon {
  color: white;
  font-size: 0.625rem;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(175,175,175);;
  padding: 0.1rem 0.25rem;
  border-radius: 0.2rem;
}

.playlist-item-caption-icon {
  color: rgb(175,175,175);
  font-size: 1rem;
}

.playlist-item-privacy-icon {
  color: rgb(175,175,175);
  font-size: 0.625rem;
  margin-right: 0.25rem;
}

.playlist-item-description {
  display: inline-block;
  font-size: 0.75rem;
}

.playlist-item-checkbox {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(50,50,50);
  width: 100%;
  margin-top: 1rem;
}

.playlist-item-selection-list-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(235,235,235);
  padding: 1rem;
  min-width: 60%;
  max-width: 20rem;
  height: 100%;
  overflow: auto;
  transition: transform 0.25s;
  transform: translateX(-100%);
}

.playlist-item-selection-list-container.display {
  transform: translateY(0);
}

.playlist-item-selection-list-playlist-items-container {

}

.playlist-item-selection-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  text-align: right;
  transition: transform 0.25s;
  transform: translateY(100%);
}

.playlist-item-selection-container.display {
  transform: translateY(0);
}

.playlist-item-container[data-checked="true"] {
  background-color: rgb(230 240 255);
}

.playlist-item-selection-list-button {
  color: rgb(50,50,50);
  font-size: 1.2rem;
}

.playlist-item-selection-count-span {
  margin-left: auto;
}

.playlist-item-selection-count {
  font-weight: bold;
}

.playlist-item-selection-move-button {
  margin-left: 2rem;
}

.playlist-item-selection-move-dialog-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
}

.playlist-item-selection-move-dialog-background.display {
  display: block;
}

.playlist-item-selection-move-dialog {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 2px solid gray;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
}

.playlist-item-selection-move-dialog-playlist-list {
  width: 100%;
  height: 70%;
  background-color: rgb(235,235,235);
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.playlist-item-selection-move-dialog .playlist-container.unselected {
    opacity: 0.5;
}

.playlist-item-selection-move-dialog-move-item-container {
  padding: 0.25rem;
  padding-left: 0;
  overflow-y: auto;
}

.playlist-item-selection-move-dialog-move-item {
  background-color: white;
  white-space: nowrap;
  padding: 0.25rem;
  overflow: hidden;
}

.playlist-item-selection-move-dialog-move-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.playlist-item-selection-move-dialog-move-item-thumbnail {
  width: 1.5rem;
  margin: 0 0.5rem;
}

.playlist-item-selection-move-dialog-move-item-title {
  display: inline;
}

.playlist-item-selection-move-dialog-move-item[data-copy-status="inprogress"] .playlist-item-selection-move-dialog-move-item-copy-status {
  color: rgb(0,128,255);
  animation: spin 1s linear infinite normal both;
}

@keyframes spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.playlist-item-selection-move-dialog-move-item[data-copy-status="success"] .playlist-item-selection-move-dialog-move-item-copy-status {
  color: rgb(0,175,0);
}

.playlist-item-selection-move-dialog-move-item[data-copy-status="failure"] .playlist-item-selection-move-dialog-move-item-copy-status {
  color: red;
}

.playlist-item-selection-move-dialog-copy-button-container {

}

.playlist-item-selection-move-dialog-copy-button[disabled="true"] {

}

.playlist-item-selection-move-dialog-back-button {

}

.playlist-item-selection-delete-dialog-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
}

.playlist-item-selection-delete-dialog-background.display {
  display: block;
}

.playlist-item-selection-delete-dialog {
  position: fixed;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 25%;
  background-color: white;
  border: 2px solid gray;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-bottom: 0.5rem;
}

.playlist-item-selection-move-dialog-move-item-delete-status {
  display: none;
  padding: 0.1rem;
  margin-left: 2rem;
  color: rgb(175,175,175);
  background-color: lightgray;
  border: 2px solid rgb(175,175,175);
  border-radius: 2px;
  font-weight: bold;
  font-variant: all-small-caps;
}

.playlist-item-selection-delete-dialog-cancel-button {

}

.authorize-button {
  display: none;
}
