:root {
  /* standard colors */
  --youtube: #c4302b;

  /* default colors */
  --accent-color: var(--youtube);
}

/*************
** UNIVERSAL
*************/

body {
  background-color: rgb(245,245,245);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button[disabled] {
  color: rgba(16,16,16, 0.3);
  background-color: rgba(239,239,239, 0.3);
  border: 1px solid rgba(118,118,118,0.3);
}

button:focus {
  outline: none;
}
